<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">投稿一覧</h2>

  <div class="index-number">
    <span>全<strong> <%= @posts.total_count %> </strong>件中</span>
    <br>
    <span><strong> <%= @posts.offset_value + 1 %> </strong>〜<strong> <%= @posts.offset_value + @posts.length %> </strong>件を表示しています。</span>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% posts.each do |pos| %>
        <div class="post-box flex-around">
          <div class="left-post posts-index-width">
            <span class="inline mt-2 post-iondex-label">■タイトル</span>
            <br>
            <span class="inline pl-3"><%= pos.title %></span>
            <br>
            <span class="inline mt-2 post-iondex-label">■ジャンル</span>
            <br>
            <span class="inline pl-3"><%= pos.genre.name %></span>
            <br>
            <span class="inline mt-2 post-iondex-label">■希望性別</span>
            <br>
            <span class="inline pl-3"><%= pos.gender %></span>
            <br>
            <span class="inline mt-2 post-iondex-label">■希望エリア</span>
            <br>
            <% if pos.prefecture_code == nil %>
              <span class="inline pl-3">指定なし</span>
            <% else %>
              <span class="inline pl-3">
                <%= pos.prefecture_name %>
                <%= pos.municipality %>
              </span>
            <% end %>
            <br>
            <span class="inline mt-2 post-iondex-label">■本文</span><br>
            <span class="inline pl-3">
              <%= safe_join(pos.content.truncate(75).split("\n"),tag(:br)) %>
            </span>
          </div>

          <div class="right-post text-center">
            <%= attachment_image_tag pos, :image, fallback: "no-post-image.png", class:"img-size pt-3 mt-3" %>
            <br>
            <%= link_to "くわしく見る", post_path(pos.id), class:"btn btn-sm post-show-btn-color m-size-btn" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

    <div class="paginate">
    <%= paginate posts, :remote => true, window: 1 %> %>
  </div>
</div>
