<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">投稿編集フォーム</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <%= form_with model: @post, url: post_path, local: true do |f| %>

        <div class="field">
          <%= attachment_image_tag @post, :image, fallback: "no-post-image.png", id: "preview", style: "height: 150px; width:200px;" %>
          <br>
          <br>
          <%= f.label :"【写真】", class:"col-sm-4" %>
          <br>
          <%= f.attachment_field :image, class:"choose-image" %>
        </div>

        <div class="field">
          <%= f.label :"【タイトル】" , class:"col-sm-4" %>
          <br>
          <%= f.text_field :title, placeholder: "タイトルを入力してください", class:"col-sm-8 text-left focus-green" %>
        </div>

        <div class="field">
          <%= f.label :"【説明文】", class:"col-sm-4" %>
          <br>
          <%= f.text_area :content, class:"col-sm-11 text-left focus-green", rows:10, placeholder: "あなたが探している仲間を具体的に書きましょう！" %>
        </div>

        <div class="field">
          <%= f.label :"【ジャンル】", class:"col-sm-4" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "-- 選択してください --"}, class:"input-longer-form p-2 text-left focus-green" %></td>
        </div>

        <div class="field">
          <%= f.label :"【希望の性別】", class:"col-sm-4" %>
          <label><%= f.radio_button :gender, :"男性", style:"transform:scale(2.0);", class:"m-3" %> 男性</label>
          <label><%= f.radio_button :gender, :"女性", style:"transform:scale(2.0);", class:"m-3" %> 女性</label>
          <label><%= f.radio_button :gender, :"どちらでも", checked: true, style:"transform:scale(2.0);", class:"m-3" %> どちらでも</label>
        </div>

        <div class="area-of-hope">
          <label class="col-sm-4">
            <span>【希望のエリア】</span>
          </label>

          <div class="col-sm-8">
            <section class="choose-area-of-hope">
              <label>
              <%= f.radio_button :option, 0, class:"radio-button mr-3", style:"transform:scale(2.0);" %>
              ご自身の住所
              </label>
              <br>
              <span>
                <%= current_user.prefecture_name %>
                <%= current_user.municipality %>
              </span>
            </section>

            <section class="choose-area-of-hope">
              <label>
              <%= f.radio_button :option, 1, checked: true, class:"radio-button mr-3", style:"transform:scale(2.0);" %>
              新しく入力する
              </label>
              <br>
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, prompt:" ---- ", class:" p-2", id:"post_prefecture_code" %>
              <%= f.text_field :municipality, placeholder: "希望の市区町村を入力してください", class:"col-sm-8 text-left ml-4 focus-green" %>
            </section>
          </div>
      </div>

      <div class="actions">
        <%= f.submit "編集する", class:"btn btn-sm btn-success bigger-btn p-3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>