<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">新規投稿フォーム</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= form_with model: @post, url: posts_new_path, local: true do |f| %>

        <div class="field">
          <div class="offset-5 pl-3">
            <%= attachment_image_tag @post, :image, fallback: "no-post-image.png", id: "preview", style: "height: 200px; width:300px;" %>
          </div>
        </div>

        <div class="field flex-around">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【　写真　】" %>
          </div>
          <div class="col-sm-7">
            <%= f.attachment_field :image, class:"choose-post-image" %>
          </div>
        </div>

        <div class="field flex-around">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【タイトル】" %>
          </div>
          <div class="col-sm-7">
            <%= f.text_field :title, placeholder: "　タイトルを入力してください", class:" text-left input-longest-form focus-green new-post-field title-width" %>
          </div>
        </div>

        <div class="field flex-around-top">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【　本文　】", style:" vertical-align:top" %>
          </div>
          <div class="col-sm-7">
            <%= f.text_area :content, class:"focus-green new-post-field", rows:10, placeholder: "　あなたが探している仲間を具体的に書きましょう！" %>
          </div>
        </div>

        <div class="field flex">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【ジャンル】" %>
          </div>
          <div class="col-sm-7">
            <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "-- 選択してください --"}, class:"input-longer-form p-2 text-left focus-green" %></td>
          </div>
        </div>

        <div class="field flex">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【希望の性別】" %>
          </div>
          <div class="col-sm-7">
            <label><%= f.radio_button :gender, :"男性", style:"transform:scale(2.0);", class:"mx-3" %> 男性</label>
            <label><%= f.radio_button :gender, :"女性", style:"transform:scale(2.0);", class:"mx-3" %> 女性</label>
            <label><%= f.radio_button :gender, :"どちらでも", checked: true, style:"transform:scale(2.0);", class:"mx-3" %> どちらでも</label>
          </div>
        </div>

        <div class="area-of-hope field flex-around-top">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【希望のエリア】" %>
          </div>

          <div class="col-sm-7 fix-post-field-padding">
            <section class="choose-area-of-hope">
              <label class="my-2">
              <%= f.radio_button :option, 0, checked: "checked", class:"radio-button mx-3", style:"transform:scale(2.0);" %>
              指定しない
              </label>
            </section>

            <section class="choose-area-of-hope">
              <label class="my-2">
              <%= f.radio_button :option, 1, class:"radio-button mx-3", style:"transform:scale(2.0);" %>
              ご自身の住所
              </label>
              <br>
              <span style="font-size: 1.2rem;">
                <%= current_user.prefecture_name %>
                <%= current_user.municipality %>
              </span>
            </section>

            <section class="choose-area-of-hope">
              <label class="my-2">
              <%= f.radio_button :option, 2, class:"radio-button mx-3", style:"transform:scale(2.0);" %>
              新しく入力する
              </label>
              <br>
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt:"------"}, id:"post_prefecture_code", class:"new-post-prefecture-select" %>
              <%= f.text_field :municipality, placeholder: "希望の市区町村を入力してください", class:"input-longest-form new-post-field text-left ml-4 focus-green", style:"height: 44px;" %>
            </section>
          </div>
        </div>

        <div class="field flex-around-top">
          <div class="col-lg-3 offset-2 col-md-4">
            <%= f.label :"【注意事項】" %>
          </div>
          <div class="col-sm-7 fix-post-field-padding">
            <ul class="media-list-style">
              <li>投稿は掲載してから1ヶ月後に自動削除されます</li>
              <li>公序良俗に反する投稿は削除される可能性があります</li>
            </ul>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "　投稿する　", class:"btn btn-sm btn-success m-size-btn" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>