<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">新規投稿フォーム</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= form_with model: @post, url: posts_new_path, local: true do |f| %>

        <div class="field">
          <%= attachment_image_tag @post, :image, fallback: "no-post-image.png", id: "preview", style: "height: 150px; width:200px;" %>
          <br>
          <br>
          <%= f.label :"【写真】", class:"col-sm-4" %>
          <br>
          <%= f.attachment_field :image, class:"choose-image" %>
        </div>

        <div class="field">
          <%= f.label :"【タイトル】" , class:"col-sm-4" %>
          <br>
          <%= f.text_field :title, placeholder: "タイトルを入力してください", class:"col-sm-8 text-left focus-green" %>
        </div>

        <div class="field">
          <%= f.label :"【本文】", class:"col-sm-4" %>
          <br>
          <%= f.text_area :content, class:"col-sm-11 text-left focus-green", rows:10, placeholder: "あなたが探している仲間を具体的に書きましょう！" %>
        </div>

        <div class="field">
          <%= f.label :"【ジャンル】", class:"col-sm-4" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "-- 選択してください --"}, class:"input-longer-form p-2 text-left focus-green" %></td>
        </div>

        <div class="field">
          <%= f.label :"【希望の性別】", class:"col-sm-4" %>
          <label>男性 <%= f.radio_button :gender, :"男性", style:"transform:scale(2.0);", class:"m-3" %></label>
          <label>女性 <%= f.radio_button :gender, :"女性", style:"transform:scale(2.0);", class:"m-3" %></label>
          <label>どちらでも <%= f.radio_button :gender, :"どちらでも", checked: true, style:"transform:scale(2.0);", class:"m-3" %></label>
        </div>

        <div class="area-of-hope field">
          <label class="col-sm-4">
            <span>【希望のエリア】</span>
          </label>

          <div class="col-sm-8">
            <section class="choose-area-of-hope">
              <label>
              <%= f.radio_button :option, 0, checked: "checked", class:"radio-button mr-3", style:"transform:scale(2.0);" %>
              ご自身の住所
              </label>
              <br>
              <span>
                <%= current_user.prefecture_name %>
                <%= current_user.municipality %>
              </span>
            </section>

            <section class="choose-area-of-hope">
              <label>
              <%= f.radio_button :option, 1, class:"radio-button mr-3", style:"transform:scale(2.0);" %>
              ご自身の最寄駅
              </label>
              <br>
              <span>
                <%= current_user.nearest_station %>
              </span>
            </section>

            <section class="choose-area-of-hope">
              <label>
              <%= f.radio_button :option, 2, class:"radio-button mr-3", style:"transform:scale(2.0);" %>
              新しく入力する
              </label>
              <br>
              <%= f.text_field :desired_area, placeholder: "希望のエリアを入力してください", class:"col-sm-8 text-left ml-4 focus-green" %>
            </section>
          </div>
        </div>

        <div class="field">
          <label class="col-sm-4">【注意事項】</label>
          <ul class="ml-3">
            <li>投稿は掲載してから1ヶ月後に自動削除されます</li>
            <li>公序良俗に反する投稿は削除される可能性があります</li>
          </ul>
        </div>

        <div class="actions">
          <%= f.submit "　投稿する　", class:"btn btn-sm btn-success bigger-btn p-3" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>