<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">投稿詳細</h2>

  <% if user_signed_in? %>
  <div class="match-messages-box">
    <% if @post.user_id == current_user.id %>
      <p class="text-center">※これは<%= current_user.nickname %>さん自身の投稿です</p>
    <% else %>
      <% if @post.prefecture_code == current_user.prefecture_code and @post.municipality == current_user.municipality %>
        <p class="match-messages">「希望のエリア」が <%= current_user.nickname %>さんのお住まいと一致しています！</p>
      <% elsif @post.prefecture_code == current_user.prefecture_code %>
        <p class="match-messages">「希望のエリア」が <%= current_user.nickname %>の都道府県と一致しています！</p>
      <% end %>

      <% if @post.gender = current_user.gender %>
        <p class="match-messages">「希望の性別」が <%= current_user.nickname %>さんの性別と一致しています！</p>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <div class="match-messages-box">
    <p class="text-center">
      未ログイン状態
      <br>
      ※ログインすると<%= @post.user.nickname %>さんとチャットができるようになります
    </p>
  </div>
  <% end %>

  <div class="container">
    <div class="row post-info-area">
      <div class="col-md-8">

        <div class="post-show-element">
          <label class="col-md-4">掲載期間</label>
          <%= @deadline.strftime("%Y年%m月%d日") %>まで　(残り<%= @remain %>日)
        </div>

        <div class="post-show-element">
          <label class="col-md-4">投稿者</label>
          <%= @post.user.nickname %>
        </div>

        <div class="post-show-element">
          <label class="col-md-4">投稿者の年齢</label>
          <%= @post.age %> 歳
        </div>

        <div class="post-show-element">
          <label class="col-md-4">ジャンル</label>
          <%= @post.genre.name %>
        </div>

        <div class="post-show-element">
          <label class="col-md-4">希望の性別</label>
          <%= @post.gender %>
        </div>

        <div class="post-show-element">
          <label class="col-md-4">希望のエリア</label>
          <%= @post.prefecture_name %> <%= @post.municipality %>
          <span>近辺</span>
        </div>

        <div class="post-show-element">
          <label class="col-md-4">閲覧数</label>
          <%=  @post.impressionist_count %>　views
        </div>

        <div class="post-show-element">
          <label class="col-md-4">タイトル</label>
          <%= @post.title %>
        </div>
      </div>

      <div class="col-md-4">
        <%= attachment_image_tag @post, :image, :fill ,250 ,250, fallback: "no-post-image.png", size:"250x250" %>
      </div>
    </div>

    <div class="post-content-area">
      <h3 class="col-md-4">本文</h3>
      <div class="col-md-10">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="link-box three-btn">
      <% if @post.user_id == current_user.id %>
        <div class="link">
          <%= link_to "編集する", edit_post_path(@post.id), class:"btn btn-sm btn-primary bigger-btn p-3" %>
        </div>
        <div class="link">
          <%= link_to "削除する", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-sm btn-danger bigger-btn p-3" %>
        </div>
      <% else %>
        <div class="link">
          <% if @post.favorited_by?(current_user) %>
            <%= link_to "お気に入りから外す", post_favorites_path(@post.id), method: :delete, class:"btn btn-sm btn-light bigger-btn p-3"%>
          <% else %>
            <%= link_to "お気に入りに追加する", post_favorites_path(@post.id), method: :post, class:"btn btn-sm btn-success bigger-btn p-3"%>
          <% end %>
        </div>

        <div class="link">
          <% if @isRoom == true %>
            <%= link_to "チャットページへ", room_path(@roomId), class:"btn btn-sm btn-success bigger-btn p-3"%>
          <% else %>
            <%= form_with model: @room, local: true do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, :value=> @user.id %>
              <% end %>
              <%= f.submit "#{@post.user.nickname}とチャットをする", class:"btn btn-sm btn-info bigger-btn p-3"%>
            <% end %>
          <% end %>
        </div>

        <div class="link">
          <%= link_to "#{@post.user.nickname}のページへ", user_path(@post.user.id), class:"btn btn-sm btn-light bigger-btn p-3"%>
        </div>

      <% end %>
    </div>
    <% end %>
  </div>
</div>