<div class="background-color">
  <%= render "layouts/flash" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-messages text-center">
          <p>
            ここ１週間で
            <span class="weekly_posts"><%= @weekly_posts.count %></span>
            件の投稿がありました
          </p>
        </div>

        <div class="new-post">
          <h3 class="text-left new-post-title">新着投稿</h3>
          <div class="flex-around">
            <% @posts_all.order("created_at desc").first(3).each do |pos| %>
            <div class="new-post">
              <span>■投稿者<br>　<%= link_to pos.user.nickname, user_path(pos.user.id), class:"text-dark" %></span>
              <br>
              <span>■タイトル<br>　<%= pos.title %></span>
              <br>
              <span>■エリア<br>　<%= pos.prefecture_name %><%= pos.municipality %> 近辺</span>
              <br>
              <span>■本文<br><%= safe_join(pos.content.truncate(30).split("\n"),tag(:br)) %></span>
              <br>
              <span><%= link_to "詳細へ", post_path(pos.id), class:"btn btn-sm btn-light" %></span>
            </div>
            <% end %>
          </div>
        </div>

        <div class="genre-ranking">
          <h3 class="genre-ranking-title">ジャンルランキング</h3>

        </div>
      </div>
    </div>
  </div>
</div>


