<div class="background-color">
  <%= render "layouts/flash" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 position-relative">
        <div class="slide-images pt-3 mt-3">
          <div class="image-box">
            <%= image_tag 'slides/pc.jpg', class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/slide1.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/live.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/slide2.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/running.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/slide5.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/party.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/slide3.jpg'), class:"slide-image" %>
          </div>

          <div class="image-box">
            <%= image_tag asset_path('slides/slide4.jpg'), class:"slide-image" %>
          </div>
        </div>

        <div class="main-messages text-center">
          <p id="weekly-posts-message">
            ここ１週間で
            <span class="weekly_posts"><%= @weekly_posts.count %></span>
            件の投稿がありました！
          </p>
        </div>

        <div class="new-posts-area">
          <h3 class="text-left new-post-title">新着投稿</h3>
          <div class="flex-around-top release-flex">
            <% @posts_all.order("created_at desc").first(3).each do |pos| %>
            <div class="new-post">
              <div class="new-post-top">
                <span>【ジャンル】</span>
                <p class="mb-0 px-3"><%= pos.genre.name %></p>

                <% unless pos.prefecture_code == nil %>
                  <span>【エリア】</span>
                  <p class="mb-0 px-3"><%= pos.prefecture_name %><%= pos.municipality %> 近辺</p>
                <% else %>
                  <span>【エリア】</span>
                  <p class="mb-0 px-3">指定なし</p>
                <% end %>

                <span>【タイトル】</span>
                <p class="mb-0 px-3"><%= pos.title %></p>

                <span>【本文】</span>
                <p class="mb-0 px-3"><%= safe_join(pos.content.truncate(30).split("\n"),tag(:br)) %></p>
              </div>

              <div class="new-post-bottom text-center">
                <span><%= link_to "詳細へ", post_path(pos.id), class:"btn btn-sm post-show-btn-color m-size-btn btn-for-smartphone" %></span>
              </div>
            </div>
            <% end %>
          </div>

          <div class="link-to-index">
            <%= link_to "一覧を見る", posts_path, class:"btn btn-sm post-btn-color l-size-btn btn-for-smartphone" %>
          </div>
        </div>

        <div class="genre-ranking">
          <h3 class="genre-ranking-title">ジャンルランキング</h3>

          <div class="flex-around release-flex">
          <% @genre_ranks.zip(@three_key, @three_index) do |genre_rank, posts_count, i| %>
            <div class="genre-ranking-box">
              <span class="ranking-number"><i class="fas fa-crown" id="fa-<%= i %>"></i> 第<%= i %>位</span>
              <br>
              <p class="ranking-genre-name text-center"><%= genre_rank.name %></p>
              <p class="text-center">投稿数：　<strong style="font-size: 2rem;"><%= posts_count %></strong></p>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


