<div class="background-color">
  <%= render "layouts/flash" %>
  <h2 class="page-title">検索結果：<%= @results_all.count %>件</h2>

  <div class="container">
    <div class"row">
      <% if @results.present? %>
      <div class='posts-lists col-sm-12'>
        <% @results.each do |pos| %>
        <div class="post-box flex-around">
          <div class="left-post posts-index-width">
            <span>■タイトル</span>
            <br>
            <%= pos.title %>
            <br>
            <br>
            <span>■希望性別</span>
            <br>
            <%= pos.gender %>
            <br>
            <br>
            <span>■希望エリア</span>
            <br>
            <%= pos.prefecture_name %>
            <%= pos.municipality %>
            <br>
            <br>
            <span>■本文</span><br>
            <%= safe_join(pos.content.truncate(75).split("\n"),tag(:br)) %>
          </div>

          <div class="right-post text-center posts-index-width" width="50%">
            <%= attachment_image_tag pos, :image, fallback: "no-post-image.png", class:"img-size pt-3 mt-3" %>
            <br>
            <%= link_to "くわしく見る", post_path(pos.id), class:"btn btn-sm btn-light bigger-btn mb-3" %>
          </div>
        </div>
        <% end %>
      </div>
      <% else %>
        <div class="no-hit-message">
          <p>一致する投稿はありませんでした</p>
          <p>検索結果を変えてみましょう！</p>
        </div>

        <div class="link-box three-btn">
          <div class="link">
            <%= link_to "再検索", searches_search_path, class:"btn btn-sm btn-primary bigger-btn p-3" %>
          </div>

          <div class="link">
            <%= link_to "簡易検索へ", searches_incremental_search_path, class:"btn btn-sm btn-success bigger-btn p-3" %>
          </div>

          <div class="link">
            <%= link_to "投稿一覧へ", posts_path, class:"btn btn-sm btn-info bigger-btn p-3"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="paginate">
    <%= paginate @results %>
  </div>
</div>