<div class="background-color">
<%= render "layouts/flash" %>

  <h2 class="page-title">使い方紹介ページ</h2>
  <span class="expand-message">クリックすると拡大表示できるよ！</span>
      <div class="howto-side-box flex-around">
        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>1：登録</h3>

          <%= link_to asset_path("howto/howto2.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto2.png', class:"howto-image" %>
          <% end %>
        </div>

        <div class="col-lg-5 col-md-11 col-sm-12 howto-box">
          <h3>2：ログイン</h3>

          <%= link_to "/assets/howto/howto5.png", :rel => "lightbox" do %>
            <%= image_tag 'howto/howto5.png', class:"howto-image" %>
          <% end %>
        </div>
      </div>

      <!--2列目-->
      <div class="howto-side-box flex-around">
        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>3-1：検索</h3>

          <%= link_to asset_path("howto/howto4.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto4.png', class:"howto-image" %>
          <% end %>
        </div>

        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>3-2：新規投稿</h3>

          <%= link_to asset_path("howto/howto9.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto9.png', class:"howto-image" %>
          <% end %>
        </div>

      </div>
      <!--3列目-->
      <div class="howto-side-box flex-around">
        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>4:詳細ページ</h3>

          <%= link_to asset_path("howto/howto1.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto1.png', class:"howto-image" %>
          <% end %>
        </div>

        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>5：通知</h3>

          <%= link_to asset_path("howto/howto6.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto6.png', class:"howto-image" %>
          <% end %>
        </div>

      </div>
      <!--4列目-->
      <div class="howto-side-box flex-around">
        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>6-1：チャット送信</h3>

          <%= link_to asset_path("howto/howto7.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto7.png', class:"howto-image" %>
          <% end %>
        </div>

        <div class="col-lg-5 col-sm-12 howto-box">
          <h3>6-2：チャット受信</h3>

          <%= link_to asset_path("howto/howto8.png"), :rel => "lightbox" do %>
            <%= image_tag 'howto/howto8.png', class:"howto-image" %>
          <% end %>
        </div>

      </div>

      <div class="howto-message">
        <p>さあ、最高の仲間を見つけましょう！</p>
      </div>

      <div class="link-box absolute-flex">
        <div class="link">
          <%= link_to "詳細検索", searches_search_path, class:"btn btn-sm search-btn-color m-size-btn" %>
        </div>

        <div class="link">
          <%= link_to "新規投稿", new_post_path, class:"btn btn-sm post-new-btn-color m-size-btn" %>

        </div>
      </div>
</div>


