<div class="background-color">
  <%= render "layouts/flash" %>

  <div class="container">
    <div class="position-box">
      <div class="slide-images">
        <div class="image-box">
          <%= image_tag 'posts/pc.jpg', class:"slide-image" %>
        </div>

        <div class="image-box">
          <%= image_tag 'posts/baseball.jpg', class:"slide-image" %>
        </div>

        <div class="image-box">
          <%= image_tag 'posts/gym.jpg', class:"slide-image" %>
        </div>

        <div class="image-box">
          <%= image_tag 'posts/live.jpg', class:"slide-image" %>
        </div>

        <div class="image-box">
          <%= image_tag 'posts/running.jpg', class:"slide-image" %>
        </div>

        <div class="image-box">
          <%= image_tag 'posts/party.jpg', class:"slide-image" %>
        </div>

        <div class="image-box">
          <%= image_tag 'posts/reading.jpg', class:"slide-image" %>
        </div>
      </div>

      <div class = "ityped-message-box">
      　<span class="ityped-message" id="ityped"></span>
      </div>
    </div>

    <div class="top-messages">
      <h2 class="top-message">
        Enrich-ityは
        <br>
        「仲間」を見つけるための
        <span class="none smartphone-block"></span>
        マッチングアプリです！
      </h2>

      <h3 class="left-message common-message-style">知らない地域に転勤...<span>友達</span>いない...</h3>
      <h3 class="right-message common-message-style">上京してきたけど<span>ひとりぼっち</span>だな...</h3>
      <h3 class="left-message common-message-style">筋トレ<span>習慣</span>身につけたいけど<span class="none smartphone-block"></span>一人じゃ<span>継続</span>できないな...</h3>
      <h3 class="right-message common-message-style">一緒にライブ行ってくれる<span>友達</span>ほしいな...</h3>
      <h3 class="left-message common-message-style">毎日決まった時間勉強する<span>ルール</span>がほしい...</h3>

      <p class="animate">
        そんな悩みを
        <span class="none smartphone-block"></span>
        Enrich-ityで解決しよう！
      </p>
    </div>

    <div class="link-box animate-link-box">
      <div class="link">
        <%= link_to "使い方を見る", homes_explain_path, class:"btn btn-sm how-to-btn-color m-size-btn" %>
      </div>

      <div class="link">
        <%= link_to "Enrich-ityとは", homes_about_path, class:"btn btn-sm about-btn-color m-size-btn" %>
      </div>

      <div class="link">
        <%= link_to "投稿を見る", posts_path, class:"btn btn-sm post-btn-color m-size-btn" %>
      </div>
    </div>
  </div>
</div>

<script>
//$(document).on('turbolinks:load', function() {
$(document).ready(function() {
  //console.log("hoge");
  /*global ityped*/
  ityped.init(document.querySelector('#ityped'), {
    strings: [
      "Welcome to Enrich-ity !",
      "Let's make friends !",
    ],
    typeSpeed: 130,
    backSpeed: 10,
    showCursor: true,
    cursorChar: '|'
  });
});
</script>