<div class="background-color design-height">
  <h2 class="page-title" id="forget-password-title">パスワード再発行ページ</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-2">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :"メールアドレス", class:"col-sm-5 text-center" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-longest-form focus-green" %>
          </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再発行メールを送る", class:"btn btn-sm btn-success m-size-btn" %>
  </div>
        <% end %>

  <div class="sign-up-link">
    <%= render "users/shared/links" %>
  </div>
</div>