<div class="<%= direct_message.id %>-chat-space">
  <!--自分側はdisplay:none;で非表示にする-->
  <div class="<%= direct_message.id %> chat-opponent-icon">
    <%= attachment_image_tag direct_message.user, :image, fallback: "no-image.jpeg", class:"#{direct_message.id}chat-icon chat-icon" %>
    <br>
    <span class="block chat-room-nickname"><%= direct_message.user.nickname %></span>
  </div>

  <!--自分側は右側にテキストを表示する-->
  <div class="<%= direct_message.id %>-discrimination common-discrimination">
    <!--自分側は背景の色を緑にする-->
    <div class="balloon-top balloon-top<%= direct_message.id %>">
      <p class="dm_content"><%= direct_message.message %></p>
    </div>
    <br>
    <span class="inline <%= direct_message.id %>-span"><%= direct_message.created_at.strftime("%-m/%d %H:%M") %></span>
  </div>
</div>

<!-- チャット内容表示位置を指定とスタイル調整 -->
<script>
  var direct_message = <%= direct_message.user.id %>;
  var dm_user = document.getElementById('current_user');
  var current_user = dm_user.getAttribute('data-id')

  // 自分の投稿(右側css)
  if(direct_message == current_user) {
    $('div.' + <%= direct_message.id %>).css('display', 'none');
    $('div.' + <%= direct_message.id %> + '-discrimination').css('text-align', 'right');
    $('div.' + <%= direct_message.id %> + '-discrimination').css('margin', '20px 0');
    $('.balloon-top' + <%= direct_message.id %>).css('background-color', 'rgb(121, 226, 120)')
    $('.balloon-top' + <%= direct_message.id %>).css('margin-right', '20px')
    $('.<%= direct_message.id %>' + '-span').css('margin-right', '30px')

  // 相手の投稿(左側css)
  } else {
    $('div.' + <%= direct_message.id %> + '-chat-space').css('display', 'flex');
    $('div.' + <%= direct_message.id %> + '-chat-space').css('align-items', 'center');
    $('div.' + <%= direct_message.id %> + '-chat-space').css('margin', '30px 0 40px 5px');
    $('.<%= direct_message.id %>' + '-span').css('position', 'absolute')
    $('.<%= direct_message.id %>' + '-span').css('left', '35px')
  }
</script>