<div class="background-color">
  <%= render "layouts/flash" %>

  <div class="container">
    <h2 class="page-title">
      <% if @user.id == current_user.id %>
      マイページ
      <% else %>
      <%= @user.nickname %>のページ
      <% end %>
    </h2>

    <div class="row">
      <div class="col-lg-6 profile-area">
        <h3 class="profile-h3">プロフィール詳細</h3>
        <table class="table profile-table text-center">
          <tbody>
            <tr>
              <td width="45%" class="icon-height">アイコン</td>
              <td width="55%"><%= attachment_image_tag @user, :image, :fill ,80 ,80, fallback: asset_path("no-image.jpeg"), size:"80x80" %></td>
            </tr>
            <tr>
              <td>ニックネーム</td>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <td>年齢</td>
              <td><%= @age %>歳</td>
            </tr>
            <tr>
              <td>性別</td>
              <td><%= @user.gender %></td>
            </tr>
            <tr>
              <td>エリア</td>
              <td><%= @user.municipality %></td>
            </tr>

            <tr>
              <td>最寄駅</td>
              <td><%= @user.nearest_station %></td>
            </tr>

            <% if @user.id == current_user.id %>
            <tr>
              <td>お気に入り</td>
              <td><%= @user.favorites.count %>件</td>
            </tr>

            <tr>
              <td>
                <%= link_to "会員情報編集", edit_user_path, class:"btn btn-sm edit-btn-color m-size-btn" %>
              </td>
              <td>
                <%= link_to "お気に入り一覧", favorites_users_path, class:"btn btn-sm favorite-btn-color m-size-btn" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

        <% unless @user.id == current_user.id %>
          <div class="text-center">
            <% if @isRoom == true %>
              <%= link_to "チャットページへ", room_path(@roomId), data: {"turbolinks"=>false}, class:"btn btn-sm chat-btn-color m-size-btn" %>
            <% else %>
              <%= form_with model: @room, local: true do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, :value=> @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class:"btn chat-btn-color m-size-btn" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-lg-6 current-post-area">
        <h3 class="profile-h3">最近の投稿 (直近3件) </h3>

        <% @user.posts.order("created_at desc").first(3).each do |pos| %>
        <div class="post-box">
          <div class="left-post">
            <div class="text-center my-3">
              <%= attachment_image_tag pos, :image, fallback: "no-post-image.png", class:"img-size" %>
            </div>
            <h4 class="inline mb-3 ml-2" style="color:#4682b4;">【タイトル】</h4>
            <p class="mb-0 ml-3 px-3"><%= pos.title %></p>
            <br>
            <h4 class="inline mb-3 ml-2" style="color:#4682b4;">【本文】</h4>
            <p class="mb-0 ml-3 px-3"><%= safe_join(pos.content.truncate(75).split("\n"),tag(:br)) %></p>
          </div>

          <div width="100%" class="text-center">
            <%= link_to "くわしく見る", post_path(pos.id), class:"btn btn-sm post-show-btn-color m-size-btn btn-for-smartphone" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>