<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

<div class="background-color">
  <h2 class="page-title">新規登録</h2>

  <div class="container">
    <div class="row">
      <div class="sign-up-area">
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【名前(フルネーム)】" %>
              <br>
              <span class="sign-up-span">※苗字と名前の間スペースは不要</span>
            </div>
            <div>
              <%= f.text_field :name, class:"input-longest-form p-2 focus-green", autofocus: true %><br>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【フリガナ(フルネーム)】" %>
            </div>
            <div>
              <%= f.text_field :name_kana, class:"input-longest-form p-2 focus-green" %>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【ニックネーム】" %>
            </div>
            <div>
              <%= f.text_field :nickname, class:"input-longest-form p-2 focus-green" %>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【生年月日】" %>
            </div>
            <div class="select-width">
              <%== sprintf(f.date_select(:birthday, :use_month_numbers=>true, :date_separator => '%s', :start_year=> Time.now.year-15, :end_year =>1950, prompt:"  --  "), '年','月') + '日' %>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【性別】" %>
            </div>
            <div class="select-width">
              <label>男性 <%= f.radio_button :gender, :"男性", style:"transform:scale(2.0);", class:"m-2" %></label>
              <label>女性 <%= f.radio_button :gender, :"女性", style:"transform:scale(2.0);", class:"m-2" %></label>
              <label>ひみつ <%= f.radio_button :gender, :"ひみつ", checked: true, style:"transform:scale(2.0);", class:"m-2" %></label>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【郵便番号】" %>
              <br>
              <span class="sign-up-span">ハイフン不要</span>
            </div>
            <div>
              <%= f.text_field :postal_code, class:"input-longest-form p-2 focus-green", autocomplete: "postcode" %><br>
            </div>

          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【お住まいの都道府県】" %>
            </div>
            <div class="select-width">
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt:"  ----  "}, class:" p-2", id:"user_prefecture_code" %>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【お住まいの市区町村】" %>
            </div>
            <div>
              <%= f.text_field :municipality, class:"input-longest-form p-2", autocomplete: "municipality" %>
            </div>

          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【最寄駅】" %>
              <br>
              <span class="sign-up-span">※駅不要 例：×東京駅 ○東京</span>
            </div>
            <div>
              <%= f.text_field :nearest_station, class:"input-longest-form p-2 focus-green", autocomplete: "nearest_station" %><br>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【メールアドレス】" %>
            </div>
            <div>
              <%= f.email_field :email, class:"input-longest-form p-2 focus-green", autocomplete: "email" %>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【パスワード】" %>
              <br>
              <span class="sign-up-span">※６文字以上</span>
            </div>

            <div>
              <%= f.password_field :password, class:"input-longest-form p-2 focus-green", autocomplete: "new-password" %>
            </div>
          </div>

          <div class="field flex release-flex media-center">
            <div class="col-lg-5 col-md-6">
              <%= f.label :"【パスワード確認】" %>
            </div>
            <div>
              <%= f.password_field :password_confirmation, class:"input-longest-form p-2 focus-green", autocomplete: "new-password" %>
            </div>
          </div>

          <div>
            <%= f.hidden_field :is_deleted, value: false %>
          </div>

          <div class="actions">
            <%= f.submit "　新規登録　", class:"btn btn-sm btn-success m-size-btn" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="sign-in-link">
    <%= render "users/shared/links"%>
  </div>
</div>
